<configuration>
    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %-5level [%thread] %logger{0} XForwarderFor=%mdc{XForwardedFor} UIRequestUUID=%mdc{UIRequestUUID} RequestID=%mdc{RequestID} UserID=%mdc{UserID} : %msg%n</pattern>
        </encoder>
    </appender>
    <!-- Rolling File Appender to    -->
    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/appcookbook.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/appcookbook.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- Change the level to DEBUG or even TRACE only when troubleshooting Security Filters and path mappings -->
<!--    <logger name="org.springframework.security" level="INFO" additivity="false">-->
<!--        <appender-ref ref="STDOUT" />-->
<!--        <appender-ref ref="ROLLING_FILE" />-->
<!--    </logger>-->
<!--    <logger name="org.springframework.data" level="INFO" additivity="false">-->
<!--        <appender-ref ref="STDOUT" />-->
<!--        <appender-ref ref="ROLLING_FILE" />-->
<!--    </logger>-->
    <!-- ROOT LOGGER -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ROLLING_FILE" />
    </root>
</configuration>
